.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bodyContainer {
  min-height: 80vh;
  display: grid;
}

.hero {

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 2rem;
    line-height: 4.5rem;
    font-weight: 900;
  }

  p {
    font-size: 15px;
    margin-top: 1rem;
    margin-right: 10rem;
  }

  button {
   margin-top: 2rem;
   height: 4rem;
   width: 14rem;
 
   margin-right: 1.4rem;

   border: 3px solid;
   border-radius: 0.5rem;
   background: transparent;
 
   color: #fff;
 
   font-size: 1.5rem;
 
   transition: 0.4s;
 
   animation: border 0.5s infinite;
 
   @keyframes border {
     0% {
       border: 1px solid var(--white);
     }
     100% {
       border: 1px solid var(--white);
     }
   }
 
   &:hover {
     background: var(--white);
     color: var(--black);
     filter: brightness(0.9);
   }
  }
}

.lottie{
   height: 0 auto;
   width: 30rem;
}

.linha{
   display: flex;
   justify-content: center;
   height: 2rem;
   width: 80%;
   border-bottom: 1px solid var(--linha);
   margin: auto;
}

.footer{
  padding: 20px;  
  display: flex;
  justify-content: center;
}

.footer h2{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Segoe UI';
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.055em;
}