.bodyLesson {
    min-height: 100vh;
}

.header__banner {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .header__box {
        width: 70vw;
        h1 {
            font-size: 46px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            text-transform: uppercase;
        }
        
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.434);
}

.box__video {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.video {
    height: 400px;
    width: 700px;
    background-color: rgb(190, 188, 188);
}

.content {
    display: grid;
    justify-content: center;
    h3 {
        text-align: left;
        font-size: 25px;
        margin-bottom: 1rem;
    }
    
    p {
        max-width: 900px;
        margin-bottom: 3rem;
    }
}

.box__chat {
    display: flex;
    justify-content: center;
    .chat {
        background-color: rgb(36, 36, 36);
        border-radius: 5px;
        height: 300px;
        width: 1000px; 
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        justify-items: center;
        align-items: center;

        img {
            width: 150px;
            border-radius: 100%;
        }
        .chat_2 {
            background-color: rgba(255, 255, 255, 0.186);
            border-radius: 3px;
            width: 95%;
            height: 90%;
        }
    }
}