.bodyLesson {
    min-height: 100vh;
}

.header__banner {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .header__box {
        width: 70vw;
        h1 {
            font-size: 46px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            text-transform: uppercase;
        }
        
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.434);
}

.img__class {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image {
    height: 100%;
    max-height: 400px;
    width: 95vw;
    max-width: 700px;
    background-color: rgb(190, 188, 188);
    object-fit: cover;
}

.alert__login {
    margin-bottom: 2rem;
    text-align: center;
}

.alert__login a{
    padding: 1rem;
    background-color: #4947c2;
    border-radius: 30px;
    cursor: pointer;
    @media (min-width: 700px) {
        font-size: 18px;
    }
    @media (max-width: 700px) {
        font-size: 14px;
    }
}

.content {
    display: grid;
    justify-content: center;
    h3 {
        padding: 1rem;
        max-width: 800px;
        text-align: left;
        font-size: 25px;
        margin-bottom: 1rem;
    }
    
    p {
        padding: 1rem;
        margin-bottom: 3rem;
        @media (min-width: 800px) {
            max-width: 70vw;
        }
        @media (max-width: 800px) {
        }
    }
}
.body__chat {
    display: flex;
    justify-content: center;
}
.box__chat {
    .chat {
        overflow-y: auto;
        background-color: #F6F6F6;
        border-radius: 5px;
        min-height: 300px;
        max-height: 500px;
        width: 95vw;
        max-width: 1200px;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        justify-items: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 150px;
            border-radius: 100%;
        }
        .chat_2 {
            padding: .5rem;
            border-radius: 3px;
            width: 95%;
            height: 90%;
            color: rgba(0, 0, 0, 0.361);

            .title {
                color: #0C4975;
                @media (min-width: 700px) {
                    font-size: 24px;
                }
                @media (max-width: 700px) {
                    font-size: 20px;
                }
            }
            .description {
                font-weight: 400;
                color: rgba(0, 0, 0, 0.7);
                @media (min-width: 700px) {
                    font-size: 18px;
                }
                @media (max-width: 700px) {
                    font-size: 14px;
                }
            }

            p {
                padding: .5rem 0;
                font-weight: 600;
            }
            textarea {
                min-width: 100%;
                max-width: 100%;
                max-height: 100%;
                padding: 10px;
                background: none;
                border-radius: 10px;
                border: solid 1px #5189BC;
                outline: none;
            }
            button {
                background: none;
                border: solid 1px #5189BC;
                color: #2D88CA;
                outline: none;
                border-radius: 20px;
                padding: 1rem;
                margin: 1rem 0;
                &:hover {
                    transition: .2s;
                    background-color: #2D88CA;
                    color: white;
                }

            }
            
        }
    }
}