.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}
.logo {
  cursor: pointer;

  @media (min-width: 500px) {
    width: 230px;
 }

 @media (max-width: 500px) {
  width: 55px;
  object-fit: cover;
  object-position: 10px 0px;
 }
}

.headerContent {
  height: 5rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: 800px) {
    padding: 0 4rem;
 }

 @media (max-width: 800px) {
  padding: 0 1rem;
 }

  nav {
    // padding: 0 10rem;
   @media (min-width: 800px) {
      margin-right: 1rem;
      height: 5rem;
      overflow-y: hidden;
   }

   @media (max-width: 800px) {
    margin-right: 0;
   }
    margin-right: 2rem;
    height: 5rem;

    a {
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }
      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: "";
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: auto;
  }
}
